<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Booking System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-8 offset-md-2 mt-5">
                <div class="jumbotron">
                    <h1 class="display-3">404! {{ . }}</h1>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/" role="button">Back to home</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
